
<style>
    h3 a { color: black; text-decoration: none; }
    h3 a:visited { color: black; }
    h3 a:hover { text-decoration: underline; }
</style>

<h2><%= session.user.name %></h2>
<a href="/profile/edit">Edit Your Profile</a>
<ul>
  <li>Bio: <%= session.user.bio %></li>
  <li>Email: <%= session.user.email %></li>
  <li>Website: <%= session.user.web %></li>
</ul>

<h2><%= session.user.name %>'s Slideshows</h2>
<div class="deck-list">
    <div>
        <a class="create-button" href="/deck/create">Create a deck</a>
    </div>
	<ul class='decks clearfix'>
	<%- partial('deckthumb', decks) %>
	</ul>
</div>

<div id="followers">
  <h2>Followers</h2>
  <ul>
    <%- partial('userThumbnail', followers) %>
  </ul>
</div>
