	  
<li class='deckpreview'>
<h4><%= deckthumb.title %></h4>
<span class='author'>by <%= deckthumb.author? deckthumb.author.name  : 'Unknown' %></span>
<p>Slides: <%= deckthumb.slides? deckthumb.slides.length : 0 %></p>

<a href="/deck/<%=deckthumb._id%>">Preview</a> 
<% if (session.auth && session.user && deckthumb.author && session.user.id == deckthumb.author.id) { %>
<a href="/deck/edit/<%=deckthumb._id%>">Edit</a>
<% } %>
</li>
