	  
<li class='deckpreview'>
    <span class="deck-title"><%= deckthumb.title %></span><br>
  <a href="/deck/embed/<%=deckthumb._id%>">Preview</a> <br />
  <a href="/deck/embed/<%=deckthumb._id%>">Embed</a> <br >
  <a href="/deck/export/<%=deckthumb._id%>">Export</a><br>
  <a href="/deck/<%=deckthumb._id%>">Preview</a><br>
  <% if (session.auth && session.user && deckthumb.author && session.user.id == deckthumb.author.id) { %>
  <a href="/deck/edit/<%=deckthumb._id%>">Edit</a>
  <% } %>
</li>
