<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ie nojs"> <![endif]--> 
<!--[if IE 7 ]> <html class="ie7 ie nojs"> <![endif]--> 
<!--[if IE 8 ]> <html class="ie8 ie nojs"> <![endif]--> 
<!--[if IE 9 ]> <html class="ie9 ie nojs"> <![endif]--> 
<!--[if !IE]><!--> <html class="nojs"> <!--<![endif]-->
<head>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/css/client.css" type="text/css">
	<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
	<title>Slidespot: The Spot for Slides</title>
	
	
	
	<script src="/js/util.js" type="text/javascript"></script>
	<script src="/js/jquery-1.6.1.js" type="text/javascript"></script>
	<script src="/js/jquery-ui-1.8.16.js" type="text/javascript"></script>
	
	
	<script src="/js/site.js" type="text/javascript"></script>
	<script src="/js/ace/ace.js" type="text/javascript"></script>
	<script src="/js/colorpicker.js" type="text/javascript"></script>
	<script src="/js/ace/mode-html.js" type="text/javascript"></script>
	<script src="/js/ace/theme-textmate.js" type="text/javascript"></script>
	<script src="/js/jquery.cookie.js" type="text/javascript"></script>
	<script src="/js/prettify.js" type="text/javascript"></script>
	<script src="/js/app.js" type="text/javascript"></script>
	<script src="/js/template.js" type="text/javascript"></script>


</head>
<body>

  <div id="site-top" class="clearfix">
	<div id="title"><h1><a href='/'>SlideSpot</a></h1></div>

			<% if(!session.user) {%>
	<div id="login" class="clearfix in">
	      <span class='using'>Login:</span>
	      <ul>
				<li class="facebook"><a href="/auth/facebook"><img src="//facebook.com/favicon.ico" alt="">Facebook</a></li>
				<li class="twitter"><a href="/auth/twitter"><img src="//twitter.com/favicon.ico" alt="">Twitter</a></li>
				<li class="github"><a href="/auth/github"><img src="//github.com/favicon.ico" alt="">Github</a></li>
	      </ul>		
	</div>
		  <% } else { %>
	<div id="login" class="clearfix out">
	      	
	      	<img class="avatar" height='16' src="<%= session.userIcon %>">
	      	<% if (session.serviceIcon) { %>
	      		<img class="service" height='12' src="<%= session.serviceIcon %>" />
	      	<% } %>
	      	<%= session.user.name %>
	      	<span class='expand'>&#x25BC;</span>
	</div>
	<div class='expanded'>
	<div class='tb'></div>
	<ul>
	<li><a href="/dashboard">My Dashboard</a></li>
	<li class="logout"><a href="/logout">Logout</a></li>
	</ul>
	</div>
	      <% } %>	
	

  </div>
  

	<%- body %>
	<% if (locals.dummyHelperHtml) {%><%- dummyHelperHtml%><% } %>
	
	
</body>
</html>
