<h2><%= currentUser.name %></h2>

<h2><%= currentUser.name %>'s Decks</h2>
  <% for (var i in decks) { %>
    <li class="deck-preview">
      <h4><a href="/app/<%= decks[i]._id%>"><%= decks[i].title %></a></h4>
      <p>Slides: <%= decks[i].slides? decks[i].slides.length : 0 %></p>
    </li>
  <% } %>
  </ul>
<div id="followers">
  <h2>Followers</h2>
</div>
<div id="followering">
  <h2>Following</h2>
</div>
